<!-- Left: Product Cards -->
<div class="col-lg-9 col-12">
  <div class="row g-4 flex-grow-1" id="productsContainer">
    {% for product in products %}
    <div
      class="col-md-6 col-lg-4 product-item"
      data-name="{{ product.name|lower }}"
      data-category="{{ product.category.id }}"
      data-price="{{ product.price }}"
    >
      <div class="product-card position-relative common-card p-4 bg-white shadow-sm h-100 d-flex flex-column">
        {% if product.popular %}
        <span class="badge bg-warning position-absolute py-2 px-4 top-0 start-0 m-3">Popular</span>
        {% endif %}
        
        <img
          src="{{ product.image.url }}"
          class="img-fluid rounded mb-3"
          alt="{{ product.name }}"
          style="height: 200px; object-fit: contain;"
        />
        
        <div class="product-details mt-2">
          <h6 class="product-title fw-semibold mt-2">{{ product.name }}</h6>
          <p class="product-price text-primary fw-bold">₹{{ product.price }}</p>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>
