  <div class="col-12 combo-item p-0"
               data-main="{{ combo.main_model|lower }}"
               data-combos="{{ combo.compatible_models|lower }}"
               data-line="{{ combo.main_model }} : {{ combo.compatible_models }}">
            <div class="common-card shadow-sm border">
              <div class="d-flex justify-content-between align-items-start gap-2">
                <p class="lh-base m-0">
                  <span class="text-primary fw-semibold main-model"
                        data-original="{{ combo.main_model }}">{{ combo.main_model }}</span>
                  <span class="text-muted"> : </span>
                  <span class="compatibles"
                        data-original="{{ combo.compatible_models }}">{{ combo.compatible_models }}</span>
                </p>

              </div>
            </div>
          </div>