 <!-- Left Side: Feedback Cards (Marquee) -->
 <div class="col-lg-6 col-12 px-lg-2 p-0">
    <div class="marquee-container h-100 ">
      <div class="marquee-content">
        {% for feedback in feedbacks %}
        <div class="common-card  border mb-3 shadow-none">
          <div class="card-body p-0">
            <i class="bi bi-quote fs-1 text-secondary"></i>
            <p class="text-muted fst-italic mt-2">
              "{{ feedback.message }}"
            </p>
            <div class="d-flex align-items-center mt-3">
              <i class="bi bi-person-circle text-primary fs-3  me-2"></i>
              <div>
                <h6 class="mb-0 fw-bold">{{ feedback.name }}</h6>
                <small class="text-muted">
                  {{ feedback.created_at|date:"M d, Y" }}
                </small>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <p class="text-muted">No feedback available yet.</p>
        {% endfor %}
      </div>
    </div>
  </div>