<section id="products" class="section-gradient">
  <div class="container">
    <hgroup class="text-white">
      <h1 class="fw-bold text-center mb-4">Featured Products</h1>
      <p class="text-center">
        Explore our wide range of mobile accessories and essentials. From batteries, chargers, and cables to protective covers and flex components.
      </p>
    </hgroup>
    <div class="row pt-lg-5 mt-5 pb-5">
      {% include "partials/components/_products_cards.html" %}
      {% include "partials/components/_filter.html" %}
    </div>
  </div>
</section>
