<!-- About Section -->
{% load custom_filters %}
<section class="about-section">
    <div class="container">
     {% include "partials/components/about-section-title.html" %}
    <div class="row g-4 pt-lg-4 mt-3">
        <div class="col-md-6 pe-lg-5">
          <div class="row g-3">
            {% for img in about.images.all %}
            <div class="col-6">
              <img
                src="{{ img.image.url }}"
                class="img-fluid rounded shadow-sm"
                alt="{{ img.alt_text }}"
              />
            </div>
            {% endfor %}
          </div>
        </div>
    
        <div class="col-md-6">
          {% if about.description %} 
          {% for paragraph in about.description.splitlines %} 
          {% if paragraph.strip %}
          <p class="lh-base lead">{{ paragraph|highlight|safe }}</p>
          {% endif %}
          {% endfor %} 
          {% endif %}
        </div>
      </div>
    </div>
    
  
   
  </section>
  