
<!-- Combo List -->
<section class="py section-gradient">
  <div class="container mt-4 py-5">
    <div class="row ">
      <div class="col common-card p-lg-4 p-3  shadow-sm sticky-top">
        <div class="d-flex flex-wrap align-items-center justify-content-between gap-2 mb-4">
          <h5 class="fw-bold m-0 ps-1 lh-base">
            <i class="bi bi-layers-fill text-primary me-2"></i>
            Universal Combo List For <span class="text-primary text-capitalize">
              {{slug}}
            </span> Brand
          </h5>

          <div class="d-flex align-items-center gap-2">
            <button type="button" class="btn btn-outline-primary btn-sm my-3 mt-lg-0" id="copyVisibleBtn">
              <span>
                <span id="resultCount"> <i class="bi bi-clipboard"></i> {{ combo_list|length }}</span> models
              </span>
            </button>
          </div>
        </div>

        <div class="position-relative mx-auto">
          <input type="text" id="searchBox" class="form-control p-3 shadow-sm rounded-pill ps-5"
                 placeholder="🔍 Type to search... e.g., Realme 8, Narzo 30 (use commas for multiple)" />
          <div class="form-text mt-3 ps-1">Tip: search matches models multiple keywords allowed.</div>
        </div>

        <div id="comboList" class="row g-3 mt-4 m-0 ">
          {% for combo in combo_list %}
            {% include "partials/components/combo-list-card.html" %}
          {% empty %}
          <div class="col-12 p-0">
            <div class="common-card border">
              <p class="card-text">
                <i class="bi bi-exclamation-triangle-fill m-0 text-warning"></i>
                No models available right now. Please check back later.
              </p>
            </div>
          </div>
          {% endfor %}
        </div>

        <!-- Not Found Message -->
        <div id="notFound" class="not-found p-3 fs-6 fw-semibold bg-danger text-white d-none rounded-2 mt-3">
          No models found for your search.
        </div>
      </div>
    </div>
  </div>
</section>
