<section class="login-guid bg-white" role="region" aria-labelledby="NotificationsSectionTitle">
  <div class="container">
    <div class="text-center">
      <h2 class="text-primary  fw-bold pb-lg-4 pb-2 ">🎥 Login कैसे करें (Video Guide)</h2>
      <div class="ratio ratio-16x9 mt-5">
        <iframe 
          src="https://www.youtube.com/embed/EjHBDbKH2Ns" 
          title="Login कैसे करें" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          allowfullscreen class="p-2 bg-white rounded-2 shadow-sm">
        </iframe>
      </div>
      <small class="text-dark mt-3 d-block ">ऊपर वीडियो देखकर आसानी से सीखें कि <strong>वेबसाइट पर Login कैसे करें</strong>।</small>
    </div>
  </div>
</section>
